<div class="panel">
<p id="notice"><%= notice %></p>
<div class="panel-header">

  <h3>Welcome to Calvinbox!</h3>
  <p>Once you're signed in, you'll be able to access your quiz below:</p>
</div>

<% if current_user.present? && current_user.quiz.present? %>
  <%= link_to 'Start Trivia!', user_quiz_path(current_user, current_user.quiz), class: "highlight start-button"%>
<% end %>
</div>
