// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  width: 100%;
  background: black;
  height: 28vh;

  .header-img {
    display: flex;
    justify-content: center;
    img {
      height: 22vh;
    }
  }
  .header-text {
    width: 96%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    color: #457eda;
    

    .center-item {
      font-family: 'Gloria Hallelujah', sans-serif;
      flex: 1;
      text-align: center;
      font-size: 4em;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .item {
      flex:1;
      font-size: 1.2em;
      text-align: left;
      padding-left: 10px;
      padding-bottom: 10px;
      align-self: flex-end;
      a {
        color: #457eda;
      }
    }

    .item-reverse {
      flex:1;
      font-size: 1.2em;
      text-align: right;
      padding-right: 10px;
      padding-bottom: 10px;
      align-self: flex-end;
      a {
        color: #457eda;
      }
    }
  }
}
.highlight {
  color: #ffa4ff;
  font-weight: bold;
  a {
    color: #ffa4ff;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #ffa4ff;
    }
  }
}

button {
  input {
    background-color: transparent;
    border:none;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

.btn-primary {
  background-color: #32cd32;
  color: white;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: #2bb32b;
  }
}

.start-button {
  margin-top: 15px;
  color: white;
  width: 45vh;
  border: 5px solid white;
  height: 45vh;
  background-color: #e42121;
  align-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 2em;
  font-family: 'Gloria Hallelujah', sans-serif;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #c31b1b;
    color: white;
  }

}

.quiz-image {
  margin-bottom: 10px;
  height: 200px;
  width: auto;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2.5vh;
  background-color: #457eda;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
}

.panel-question {
  margin-bottom: 10px;
}

.panel-question-label {
  margin-bottom: 5px;
  font-size: 18px;
}

.panel-header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.poll {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flex-item-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 3vw;
}

.flex-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lg {
  &.btn-primary {
    &.vote {
      font-family: 'Gloria Hallelujah', sans-serif;
      height: 12vh;
      width: 12vh;
      border-radius: 50%;
    }
  }
}

.hidden {
  display: none;
}

#notice {
  height: 2em;
  background-color: #32cd32;
  color: white !important;
  font-size: 1.2em;
}
